{# this file will become a Python module settings.py #}

###############################################
# Warning:                                    #
#     this file has been written by Juju,     #
#     any updates may be overwritten          #
###############################################

DATABASE_URI = "postgresql+pg8000://{{ db.user }}:{{ db.password }}@{{ db.host }}:{{ db.port }}/{{ db.dbname }}"
TRACK_MODIFICATIONS = False