{# this file will become a Python module settings.py #}

###############################################
# Warning:                                    #
#     this file has been written by Juju,     #
#     any updates may be overwritten          #
###############################################

DATABASE_URI = "{{ conn_str }}"
TRACK_MODIFICATIONS = False